/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/11/2018, 18:00:57
    Author     : thais.silveira
*/

h3{
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    color: #F33131;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
    border-bottom: 1px solid #E7E7E7;
    display: block;
    text-align: center;
}
